#team-table {
  padding-right: 10%;
  margin-top: 3.5%;
  margin-right: auto;
  float: right;
  background-color: #FF6347;
}

#main-table-background {
  padding-left: 5%;
  margin-left: auto;
  float: left;
  background-image: url('/assets/flag.png');
}

#main-table-content {
  
}

.table {
  display: table;   
  margin: 0 auto;
  color: blue;
}

.body {
  font-family: Lato, Arial; 
  font-color: blue;

  padding: 55px 25px;
  background-image: url('/assets/mount_rushmore.png');
  opacity: .5;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

