/*#team-table {
  padding-right: 10%;
  margin-top: 3.5%;
  margin-right: auto;
  float: right;
  background-color: #FF6347;
}*/

/*#main-table-background {
  padding-left: 5%;
  margin-left: auto;
  float: left;
  background-image: url('/assets/flag.png');
}

#main-table-content {

}*/

.table {
  display: table;
  margin: 0;
  color: blue;
}

.table1 {
  display: table;
  margin: 0;
  float: left;
}

.table2 {
  display: table;
  margin: 0 auto;
  float: right;

}
.body {
  font-family: Lato, Arial;
  font-color: blue;

  padding: 55px 25px;
  background-image: url('/assets/mount_rushmore.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

h1 {
    font-weight: normal;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}


