/** { border: 1px solid black; }
*/
/*#team-table {
  padding-right: 10%;
  margin-top: 3.5%;
  margin-right: auto;
  float: right;
  background-color: #FF6347;
}*/

#main-table-background {
  padding-left: 5%;
  margin-left: auto;
  float: left;
  background: image-url('wolfhat.png');
}


.table {
  display: table;
  margin: 0;
  color: blue;
}
.initial{
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
}

.none{
  -webkit-flex: none;
          flex: none;
    width: 200px;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-flex: 2;
          flex: 2;
}

#main {
  display: table;
  margin: 0;
  float: left;
}

#sidebar {
  display: table;
  margin: 0 auto;
  float: right;

}
.body {
  font-family: Lato, Arial;
  font-color: blue;

  padding: 55px 25px;
  background: image-url('wolfhat.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

h1 {
    font-weight: normal;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.upload-nav-bar {
  background-color: #357042;
}

.wrapme{
  padding-top: 50px;
}

#landing_page {
  font-size: 4em;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  width: 300px;
  height: 200px;
  border-color: #357042;


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

* body{
  background-image: url('http://imgur.com/a/cBkJj');
}
